:root {
    --background-default: #f5f4f0;
    --border-primary: #d9d9d9;
    --text-primary: #1b1b1b;
    --text-secondary: #333;
    --text-tertiary: #696969;
    --text-headline: #e1624f;
    --accent-blue: #0c51a7;
    --accent-orange: #e95e10;
    --accent-pink: #e5245e;
    --accent-purple: #591b98;     
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-default);
    margin-top: 88px;
}

#page {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    
}

.text-headline {
    text-transform: uppercase;
    color: var(--text-headline);
    font-weight: bold;
    margin-bottom: 8px;
}

#about-busan h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--text-primary);
}

.about-image p {
    text-align: center;
    color: var(--text-secondary);
    margin: 24px auto;
    font-style: italic;

}

.line-1 {
    border-bottom: solid 2px var(--border-primary);
    margin: 40px auto 64px auto;
}

#busan-destinations h2 {
    margin: 8px auto;
    color: var(--text-primary);
    font-size: 32px
}

.text-destinations {
    color: var(--text-secondary);
    margin-bottom: 64px;
} 

#destination-1 p {
    color: var(--text-secondary);
    margin-bottom: 12px;
    margin-top: 4px;
}

#destination-2 p {
    color: var(--text-secondary);
    margin-bottom: 12px;
    margin-top: 4px;
}

#destination-3 p {
    color: var(--text-secondary);
    margin-bottom: 12px;
    margin-top: 4px;
}

#destination-1 li {
    color: var(--accent-blue);
}

#destination-2 li {
    color: var(--accent-blue);
}

#destination-3 li:nth-child(1) {
    color: var(--accent-purple);
}

#destination-3 li:nth-child(2) {
    color: var(--accent-pink);
}

#destination-3 li:nth-child(3) {
    color: var(--accent-orange);
}

.line-2 {
    border-bottom: solid 2px var(--border-primary);
    margin: 40px auto;
}

.banner {
    border-radius: 16px;
    width: 100%;
}

.last-text {
    color: var(--text-secondary);
    text-align: center;
    margin-bottom: 65px;
}

h3 {
    font-size: 28px;
    color: var(--text-primary);
    font-weight: bold;
    margin-top: 20px;
}

ul {
    padding-left: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

span {
    font-weight: bold;
}

footer {
    font-family: "Alice", sans-serif;
    text-align: center;
    margin-bottom: 48px;
}